body {
    background-color: black;
    
}

.container {
    margin: auto;
    height: 300px;
    width: 500px;
    background-color: cornsilk;
    font-size: medium;
    border-color: #4666FF;
    border-radius: 12px;
    border-style: solid;
    text-align: center;
}

#quizQuestions {
    display: none;
    text-align: center;
}

#possibleAnswer {
    margin-top: 50px;
}

#rightWrong {
    margin-top: 5px;
    
}
#gameOver {
    display: none ;
    font-size: 24px;
    font-display: center;
}